// SPDX-License-Identifier: GPL-2.0+
/*
 * Samsung Exynos 8895 SoC device tree source
 *
 * Copyright (C) 2020 Dzmitry Sankouski (dsankouski@gmail.com)
 * Copyright (C) 2020 Ivaylo Ivanov <ivo.ivanov@null.net>
 */

/dts-v1/;
#include "skeleton.dtsi"
/ {
	compatible = "samsung,exynos8895";

	fin_pll: xxti {
		compatible = "fixed-clock";
		clock-output-names = "fin_pll";
		u-boot,dm-pre-reloc;
		#clock-cells = <0>;
	};

	/* UART_DEBUG */
	uart0: serial@10430000 {
		compatible = "samsung,exynos4210-uart";
		reg = <0x10430000 0x100>;
		u-boot,dm-pre-reloc;
	};
};
